backups/
blueprints/
coremods/
imcScripts/
logs/
resourcepacks/
saves/
schematics/
screenshots/
server-resource-packs/
shaderpacks/
texturepacks/

/1213309934
/options.txt
/usernamecache.json

journeymap/data/
journeymap/colorpalette.json

*.log