backups/
blueprints/
coremods/
imcScripts/
logs/
resourcepacks/
saves/
schematics/
screenshots/
server-resource-packs/
shaderpacks/
texturepacks/
1213309934
minetweaker.log
options.txt
usernamecache.json